:root{
  
    /* color */
   --red-color: rgb(223, 39, 39);
   --blue-color: rgb(84, 84, 233);
   --grey-light-color: rgb(174, 161, 161);
   --grey-bold-color: rgb(111, 95, 95);
   --black-color: rgb(32, 27, 27);

    /* font-size  */
    --size-large: 18px;
    --size-midum: 16px;
    --size-small: 12px;
    --size-micro: 10px;
    
    /* size */
    --avtar-size: 36px;
    --padding:12px
}

*{
    padding:0px;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
}

ul{
    list-style: none;
}

button,
button:focus{
    background: none;
    outline: none;
    border: none;
    cursor:pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--black-color);
    padding: var(--padding);
    color:white;
}

.header_logo{
    font-size: var(--size-large);
}

.header .icons .fa-gear{
    margin-left: 3px;
}

.player{
    background-color: black;
    text-align: center;
    position: sticky;
    top:0;
}

.player video{
    width:100%;
    height: 100%;
    max-width: 300px;
}

.player_info{
    padding: var(--padding);
}
.player_info .hashtags{
    display: flex;
    font-size: var(--size-small);
    color:var(--blue-color);
}

.player_info .hashtags li{
    margin-right: 5px;
}

.player_info .buttonAndtitle{
    display: flex;
}

.player_info .buttonAndtitle .fa-caret-down{
    height: 100%;
}

.player_info .matadata .anniversary{
    font-size: var(--size-micro);
    color: var(--grey-light-color);
}



.player_info .buttonAndtitle .title.clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;   }

.acitons{
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--padding);
}

 .acitons button{
    font-size: var(--size-small);
    color: var(--grey-light-color);
}

.channel{
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    margin:10px;
}

.channel .matadata{
    display: flex;
}

.channel .matadata .info{
    display: flex;
    flex-direction: column;
    font-size: var(--size-small);
}

.channel .matadata .info .surcribe{
    color: var(--grey-light-color);
    text-align: center;
}
.channel  img{
    width: var(--avtar-size);
    height: var(--avtar-size);
    border-radius: 50%;
    margin-right: 8px;
}

.channel .surcribers{
    color: var(--red-color);
}

section .info{
    display:flex;
}

.upNext{
    padding: var(--padding);
}

.upNext .item{
    display: flex;
    margin-top: var(--padding);
}

.upNext .item .img img{
   width: 100%;
   height: 100%;
}
.upNext .item .img{
    flex-basis: 35%;
    margin-right: var(--padding);
}

.upNext .item .MATADATA{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: center;
    text-align: center;

}


.upNext .item .buttonMore{
    flex-basis: 5%;
    height: 100%;
}

.infoupNext{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:720px) {
    .infoupNext{
        flex-direction: row;
    }
}

